
.start{
    min-height: 435px;

    &__title{
        font-size: 50px;
        line-height: 70px;
        margin-bottom: 5px;
    }

    &__subtitle{
        font-size: 23px;
        margin-bottom: 60px;
    }

    &__button{
        background-color: white;
        color: black;
        letter-spacing: 2px;

        &::before{
            display: none;
        }

        &:hover{
            outline: 2px solid white;
            outline-offset: 5px;
        }

    }
}